<a href="https://colab.research.google.com/github/Annie1710/Assignment---Income-inequality-in-relation-to-GDP/blob/main/Module_7_Assignment_Income_inequality_in_relation_to_GDP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
%load_ext google.colab.data_table

# Gini

In [3]:
gini = pd.read_csv('/content/drive/MyDrive/economic-inequality-gini-index.csv') 
gini.head()

    Entity Code  Year  Gini coefficient
0  Albania  ALB  1996          0.270103
1  Albania  ALB  2002          0.317390
2  Albania  ALB  2005          0.305957
3  Albania  ALB  2008          0.299847
4  Albania  ALB  2012          0.289605

In [4]:
gini.columns

Index(['Entity', 'Code', 'Year', 'Gini coefficient'], dtype='object')

In [5]:
gini =gini.rename(columns={'Entity': 'Country' }) # namen corrigeren.

In [7]:
gini1 = gini[['Country', 'Year','Gini coefficient']]
gini1.head()

   Country  Year  Gini coefficient
0  Albania  1996          0.270103
1  Albania  2002          0.317390
2  Albania  2005          0.305957
3  Albania  2008          0.299847
4  Albania  2012          0.289605

# GDP

In [8]:
gdp = pd.read_csv('//content/drive/MyDrive/gdp-per-capita-maddison-2020.csv') 
gdp.head()

        Entity Code  Year  GDP per capita 417485-annotations
0  Afghanistan  AFG  1950          1156.0                NaN
1  Afghanistan  AFG  1951          1170.0                NaN
2  Afghanistan  AFG  1952          1189.0                NaN
3  Afghanistan  AFG  1953          1240.0                NaN
4  Afghanistan  AFG  1954          1245.0                NaN

In [9]:
gdp.columns

Index(['Entity', 'Code', 'Year', 'GDP per capita', '417485-annotations'], dtype='object')

In [10]:
gdp =gdp.rename(columns={'Entity': 'Country', 'GDP per capita': 'GDP'}) # namen corrigeren.

In [11]:
gdp1=gdp[['Country', 'Year', 'GDP']]
gdp1.head()

       Country  Year     GDP
0  Afghanistan  1950  1156.0
1  Afghanistan  1951  1170.0
2  Afghanistan  1952  1189.0
3  Afghanistan  1953  1240.0
4  Afghanistan  1954  1245.0

# Beide df samenvoegen

In [ ]:
gini_gdp = pd.merge(gini1, gdp1, how="outer", on=['Country','Year'])
gini_gdp.head()

In [14]:
gini_gdp1 = gini_gdp.dropna() # evt. aanwezige NaN eruit halen. 
gini_gdp1.head()

   Country  Year  Gini coefficient          GDP
0  Albania  1996          0.270103  3965.685303
1  Albania  2002          0.317390  5608.962402
2  Albania  2005          0.305957  6858.466797
3  Albania  2008          0.299847  8522.129883
4  Albania  2012          0.289605  9592.000000

In [15]:
gini_gdp1.columns

Index(['Country', 'Year', 'Gini coefficient', 'GDP'], dtype='object')

In [16]:
correlation =gini_gdp1[['Gini coefficient', 'GDP']]
correlation.head()

   Gini coefficient          GDP
0          0.270103  3965.685303
1          0.317390  5608.962402
2          0.305957  6858.466797
3          0.299847  8522.129883
4          0.289605  9592.000000

In [17]:
correlation1 =correlation.corr()
correlation1

                  Gini coefficient       GDP
Gini coefficient          1.000000 -0.429966
GDP                      -0.429966  1.000000

Conclusie: er is een negatieve correlatie tussen de Gini coefficient en GDP, nl. -0,43 dit betekent dat er een relatief sterke, omgekeerde afhankelijkheid is tussen deze twee waardes.